h1{
    color: white;
    font-weight: bolder;
    background-color: grey;
}
main{   
    background-image: url('https://i.pinimg.com/originals/1a/91/70/1a9170ff0c25711af89f9750f8f72726.jpg');
    /* background-color: rgba(158, 145, 145, 0.575); */
    height: 515px;
}
footer{
    background-color: #343a40;
}

th,tr,
td{
    border: solid;
}
.card-header{
    color: slategray;
}
.card-body{
    color: black;
}
{
    background-color: rgb(110, 108, 108);
}